@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Computer Modern Second";
  src: url('../public/cmunorm.ttf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('../public/cmunrm.ttf');
}

body {
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
}

#page {
  width: 210mm;
  height: 296mm;
  background-color: white;
}

#margin {
  padding: 10mm;
}

#name {
  font-size: 25pt;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  font-size: 12pt;
  justify-content: center;
  gap: 10px;
}

#loc {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
}

.icon {
  height: 11pt;
  width: 11pt;
  text-align: center;
}

#contactInfo {
  font-size: 11pt;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
  gap: 5px;
  text-align: center;
  margin-top: 5px;
}

#contactInfo > div {
  margin-right: 20px;
}

#section {
  font-size: 15pt;
  font-family: 'Computer Modern';
  margin: 10px;
  border-bottom: solid 1px;
  border-color: black;
}

.description {
  font-size: 12pt;
  font-family: 'Computer Modern';
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.datePos {
  font-size: 12pt;
  font-family: 'Computer Modern';
  margin: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.posEnter {
  font-weight: bold;
}

.loc {
  font-size: 12pt;
  font-family: 'Computer Modern';
  margin-left: 10px;
}

.taskJob {
  font-size: 12pt;
  font-family: 'Computer Modern';
  margin-left: 20px;
  list-style-type: decimal;
}

li {
  margin-left: 10px;
}

.idiom {
  display: flex;
  margin-left: 10px;
  font-size: 12pt;
  font-family: 'Computer Modern';
}

.language {
  font-weight: bold;
  width: 80px;
}

.addEducation, .groupin{
  display: flex;
  margin-left: 10px;
  font-size: 12pt;
  font-family: 'Computer Modern';
}

.year {
  width: 50px;
}

.school {
  font-weight: bold;
  margin-left: 3px;
}

.group {
  width: 150px;
  font-weight: bold;
}

