@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

body {
  font-family: 'Computer Modern';
  margin: 0 50px;
}

#name {
  font-size: 4vh;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
}

.location {
  display: flex;
  font-size: 2vh;
  justify-content: center;
  gap: 10px;
}

#loc {
  font-size: 2vh;
  font-weight: bold;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
}

#iconLoc {
  height: 2vh;
}

#contactInfo {
  font-size: 2vh;
  font-family: 'Computer Modern';
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 2vh;
}

#contactInfo > div {
  margin-right: 20px;
}

.header > div {
  margin-top: 15px;
  margin-bottom: 15px;
}

#section {
  font-size: 3vh;
  font-family: 'Computer Modern';
  margin: 10px;
  border-bottom: solid 1px;
  border-color: black;
}

.description {
  font-size: 2vh;
  font-family: 'Computer Modern';
  margin-left: 10px;
  text-align: justify;
}

.datePos {
  font-size: 2vh;
  font-family: 'Computer Modern';
  margin: 10px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.posEnter {
  font-weight: bold;
}

.loc {
  font-size: 2vh;
  font-family: 'Computer Modern';
  margin-left: 10px;
}

.taskJob {
  font-size: 2vh;
  font-family: 'Computer Modern';
  margin-left: 20px;
  list-style-type: decimal;
}

li {
  margin-left: 10px;
}

.idiom {
  display: flex;
  margin-left: 10px;
  font-size: 2vh;
  font-family: 'Computer Modern';
}

.language {
  font-weight: bold;
  width: 80px;
}

.addEducation, .groupin{
  display: flex;
  margin-left: 10px;
  font-size: 2vh;
  font-family: 'Computer Modern';
}

.year {
  width: 50px;
}

.school {
  font-weight: bold;
  margin-left: 3px;
}

.group {
  width: 150px;
  font-weight: bold;
}

